<a href="https://colab.research.google.com/github/Divs-Git/Python/blob/main/List.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#What are Lists

List is a datatype whre you can store multiple items under 1 name. More technically, list act like dynamic arrays which means you can add more items on the fly.

In [2]:
L = [20,'Jessa',35.75,[30,60,90]]
print(L)

[20, 'Jessa', 35.75, [30, 60, 90]]

#Array Vs Lists

* Fixed Vs Dynamic Size
* Convinience --> Heterogeneous
* Speed of Execution (List)---> slow
* Memory more ---> List

#How lists are stored in memory

In [7]:
# Referential array
L = [1,2,3]
print(id(L))
print(id(L[0]))
print(id(L[1]))
print(id(L[2]))

print()

print(id(1))
print(id(2))
print(id(3))

139756415386368
9793088
9793120
9793152

9793088
9793120
9793152

#Characteristics of a List

* Ordered
* Changeble/Mutable
* Heterogenous
* Can be duplicates
* are dynamic
* can be nested
* items can be accessed
* can contain any kind of objects in python

In [112]:
L = [1,2,3]
L1 = [3,2,1]

print(L == L1)

L2 = [1,print,type,input]
print(L2)

False
[1, <built-in function print>, <class 'type'>, <bound method Kernel.raw_input of <google.colab._kernel.Kernel object at 0x7f1bddc56be0>>]

# Creating a List

In [13]:
# Empty List
print([])

# 1D -> Homogeneous
print([1,2,3,4,5,6])

# 2D
print([1,2,[1,2,3]])

# 3D
print([[[1,2],[3,4]],[[5,6],[7,8]]])

# Heterogenous
print([1,True,5+6j,"hello",3.5,34e45])

# Using Type Conversion
print(list("Hello"))
# print(list(1334)) ---> 'int' object is not iterable

[]
[1, 2, 3, 4, 5, 6]
[1, 2, [1, 2, 3]]
[[[1, 2], [3, 4]], [[5, 6], [7, 8]]]
[1, True, (5+6j), 'hello', 3.5, 3.4e+46]
['H', 'e', 'l', 'l', 'o']

#Accessing Items from a List

In [22]:
# Indexing
L = [1,2,3,4,5,6]
# Positive Indexing
print(L[0])
# Negative Indexing
print(L[-1])

# 2D List
L = [1,2,3,[4,5,6]] # let say 4
print(L[3][0])
print(L[-1][-3])

# 3D List
L = [[[1,2],[3,4]],[[5,6],[7,8]]] # let say 6
print(L[1][0][1])
print(L[-1][-2][-1])

1
6
4
4
6
6

In [25]:
# Slicing ------> Multiple extraction
L = [1,2,3,4,5,6]
print(L[1:5:3])
print(L[-2:-6:-3])

[2, 5]
[5, 2]

# Adding items to a list

In [27]:
# append() ---> always trys to add single item
L = [1,2,3,4,5,6]
L.append(8)
print(L)

[1, 2, 3, 4, 5, 6, 8]

In [28]:
# extend()  ---> always trys to add multiple item
L = [1,2,3,4,5,6]
L.extend([6,7,8,9])
print(L)

[1, 2, 3, 4, 5, 6, 6, 7, 8, 9]

In [29]:
L = [1,2,3,4,5,6]
L.append([6,7,8])
print(L)

[1, 2, 3, 4, 5, 6, [6, 7, 8]]

In [30]:
L = [1,2,3,4,5,6]
L.extend("Strings")
print(L)

[1, 2, 3, 4, 5, 6, 'S', 't', 'r', 'i', 'n', 'g', 's']

In [31]:
# insert()  ---> add at an index
L = [1,2,3,4,5,6]
L.insert(1,100)
print(L)

[1, 100, 2, 3, 4, 5, 6]

# Editing items in a List

In [33]:
L = [1,2,3,4,5,6]
# indexed based
L[-2] = 500
print(L)

[1, 2, 3, 4, 500, 6]

In [38]:
L = [1,2,3,4,5,6]
# slice based
L[1:4] = 200,400,600
print(L)

[1, 200, 400, 600, 5, 6]

# Deleting items from a List

In [41]:
# del
L = [1,2,3,4,5,6]
print(L)
del L
print(L)

[1, 2, 3, 4, 5, 6]

NameError: ignored

In [44]:
L = [1,2,3,4,5,6]
print(L)
del L[-1] # index
print(L)
del L[1:4] # slice
print(L)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5]
[1, 5]

In [46]:
# remove --> remove by value
L = [1,2,3,4,5,6]
L.remove(6)
print(L)

[1, 2, 3, 4, 5]

In [47]:
# pop ---> remove particular index (if index is provided)
l = [1,2,3,4,5,6]
print(l)
l.pop(2)
print(l)
l.pop() # no index is provided so it will remove the last element
print(l)

[1, 2, 3, 4, 5, 6]
[1, 2, 4, 5, 6]
[1, 2, 4, 5]

In [62]:
# clear()
L = [1,2,3,4,5,6]
print(L)
L.clear()
print(L)

[1, 2, 3, 4, 5, 6]
[]

#Operators on Lists

* Arithmetic
* Membership
* Loop

In [48]:
# Arithmetic (+, *) --> Concatinate/Merge

L =[1,2,3,4,5]
L2 = [6]
print(L+L2)

[1, 2, 3, 4, 5, 6]

In [49]:
print(L2*2+L)

[6, 6, 1, 2, 3, 4, 5]

In [53]:
# Membership --> in / not in

L =[1,2,3,4,5]
L2 = [6]
print(6 in L)
print(6 in L2)

L1 = [1,2,[1,2,3]]
print(3 in L1)

False
True
False

In [61]:
# loop
L = [1,2,3,4,[5,6]]
for i in L:
    print(i)

1
2
3
4
[5, 6]

#List Functions

In [65]:
# len/min/max/sorted
L = [1,2,3,4,5,6]
print(len(L))
print(min(L))
print(max(L))
print(sorted(L)) # not a permanent operation
print(sorted(L,reverse = True)) # sane

6
1
6
[1, 2, 3, 4, 5, 6]
[6, 5, 4, 3, 2, 1]

In [67]:
# count ---> frequency
L =[1,2,3,4,5,6]
L.count(5)

1

In [70]:
# index ----> first occurance
L.index(5)
L.index(-100.8) # Shows error

ValueError: ignored

In [73]:
# reverse
L = [1,2,3,4,5,6]
L.reverse() # it permanently reverse the list
print(L)

[6, 5, 4, 3, 2, 1]

In [77]:
# sort ---> permanently sort
L = [89271289,9186,81368961,9017521,3901758975,40987598719]
print(sorted(L)) # doesnot permanently sort
print(L)
L.sort()
print(L)

[9186, 9017521, 81368961, 89271289, 3901758975, 40987598719]
[89271289, 9186, 81368961, 9017521, 3901758975, 40987598719]
[9186, 9017521, 81368961, 89271289, 3901758975, 40987598719]

In [80]:
# copy
L = [1,2,3,4,5,6]
L1 = L.copy() # shalow copy
print(L)
print(L1)
print(id(L))
print(id(L1))

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]
139756415669056
139756414053120

#List Comprehension

List Comprehension provides a concise way of creating lists.

* newlist = [expression *for* item *in* iterable if condition == True]

Advantage of List Comprehension
* More time-efficient and space-efficient than loops.
* Requires fewer lines of codes.
* Transform iterative statement into a formula.

In [83]:
# Add 1 to 10 numbers to a list

L = []
for i in range(1,11):
    L.append(i)
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [84]:
L = [i for i in range(1,11)]
print(L)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [86]:
# scalar multiplication of a vector
v = [2,3,4]
s = -3
L = []
for i in v:
    L.append(i*s)
print(L)

[-6, -9, -12]

In [87]:
v = [2,3,4]
s = -3

L = [i*s for i in v]
print(L)

[-6, -9, -12]

In [88]:
# Add Squares

L = [1,2,3,4,5]
L1 = [i*i for i in L]
print(L1)

[1, 4, 9, 16, 25]

In [89]:
# print all numbers divisible by 5 in range of 1 to 50

L = [num for num in range(1,51) if num%5==00]
print(L)

[5, 10, 15, 20, 25, 30, 35, 40, 45, 50]

In [93]:
# find languages which start with letter p
languages = ['java','python','php','c','javascript']

L = [language for language in languages if language.startswith('p')]
print(L)

['python', 'php']

In [94]:
# Nested if with List Comprehension
basket = ['apple','guava','cherry','banana']
my_fruits = ['apple','kiwi','grapes','banana']

# add new list from my_fruits and items if the fruit exits in basket and also starts with 'a

common = [fruit for fruit in my_fruits if fruit in basket if fruit.startswith('a')]
print(common)

['apple']

In [100]:
# print a (3,3,) matrix using list comprehension -> nested list comprehension

[[j for j in range(1,4)] for i in range(1,4)]

[[1, 2, 3], [1, 2, 3], [1, 2, 3]]

In [104]:
# cartisian product --> List comprehension on 2 lists together
L1 = [1,2,3,4,5,6]
L2 = [7,8,9,0]

L3 = [i*j for i in L1 for j in L2]
print(L3)

[7, 8, 9, 0, 14, 16, 18, 0, 21, 24, 27, 0, 28, 32, 36, 0, 35, 40, 45, 0, 42, 48, 54, 0]

#2 ways to transverse a list

* itemwise
* indexwise

In [105]:
# itemwise
L =[1,2,3,4,5,6]
for i in L:
    print(i)

1
2
3
4
5
6

In [108]:
# indexwise
L = [1,2,3,4,5,6]
for i in range(0,len(L)):
    print(L[i])

1
2
3
4
5
6

#Zip

The zip() funtion returns a zip object, which is an iterator of tuples where the firt item in each passed iterator is paired together, and then the second item in each passed itrator are paied together.

If the passed iterators hav different lengths, the iterator with the least items decides the length of the new iterator.

In [110]:
# Write a program to add items of 2 lists indexwise

L1 = [1,2,3,4]
L2 = [-1,-2,-3,-4]

list(zip(L1,L2))

[i+j for i,j in zip(L1,L2)]

[0, 0, 0, 0]

#Disadvantages of Python List

* Slow
* Risky usage
* Eats up more memory