<a href="https://colab.research.google.com/github/Divs-Git/Python/blob/main/tuple_set_dictionary.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Tuples

A tuple in python is similiar to a list. The differnce between the two is that we cannot change the elements of a tuple once it is assigned whereas we can the elements of a list.

In short, a tuple is an immutable list. A tuple can not be changed in any way once it is created.

Characteristics
* Ordered
* Unchangable
* Allows duplicate

#Creating Tuples

In [ ]:
# Empty tuple
t1 = ()
print(t1)

# create a tuple with a single item
t2 = ('hello')    # class = str
t3 = (1) # class = int
t4 = (1,)  # class ====== tuple

# homo
t = (1,2,3,4,5)

# hetero
t6 = (1,2,"string")

#tuple of tuples
t8 = (1,2,3,(4,5,6))

# using tuple conversion
t9 = tuple("hello")
print(t9)

()
('h', 'e', 'l', 'l', 'o')

# Accessing Items

* indexing
* slicing

In [ ]:
t = (1,2,3,4,5,6)
print(t[3])
print(t[-2])

4
5

In [ ]:
print(t[3:6:2])
print(t[-3:-6:-2])

(4, 6)
(4, 2)

# Editing items

In [ ]:
t = (1,2,3,4,5,6)
t[0] = 123 #tuples are immuatble

TypeError: ignored

#Adding items

In [ ]:
# cannot append or extend or insert

#Deleting items

In [ ]:
# del ---> works
# del t[0] ----> doenot works

#Operations on Tuples

In [ ]:
# +     *
# in    not in

#Tuple functions

In [ ]:
# len/sum/min/max/sorted
# sorted doesn't make change to original datatypes and always typecasts to list

In [ ]:
#count

t = (1,2,3,4,5,6)
t.count(5)

1

In [ ]:
#index

t.index(5)

4

In [ ]:
t.index(-1) # thows error

ValueError: ignored

#Difference between lists and Tuples

* Syntax
* Mutability
* Speed ---> tuples are faster
* Memory --> tuples less memory
* Built in functionality
* Error Prone
* Usability : security

#Special Syntax

In [1]:
# tuple unpacking
a,b,c = (1,2,3)
print(a,b,c)

1 2 3

In [2]:
a = 1
b = 2
a,b = b,a
print(a,b)

2 1

In [3]:
a,b,*others = (1,2,3,4)
print(a,b)
print(others)

1 2
[3, 4]

In [4]:
# Zipping tuples
a =(1,2,3,4)
b = (5,6)
list(zip(a,b))

[(1, 5), (2, 6)]

In [5]:
tuple(zip(a,b))

((1, 5), (2, 6))

#Sets

A set is an unordered collection of items. Every set element is unique (no duplicates) and must be immutable (cannot be changed). However, a set itself is mutable. We can add or remove items from it.
Set can also be used to perform mathematical set operations like union, interaction, symmetric difference, etc.

Characteristics:
*  Unordered
* Mutable
* No Duplicate
* Can't contain mutable data types

#Creating sets

In [7]:
# empty set
#s = {} ----> makes dictionary
s = set()
print(s)
print(type(s))

set()
<class 'set'>

In [8]:
# 1D
s1 = {1,2,3}
print(s1)

{1, 2, 3}

In [9]:
# 2D
s1 = {1,2,3,{4,5,6}}
print(s1)

TypeError: ignored

In [11]:
# hetero
s3 = {1,'hello',4.5,True,(1,2,3)}
print(s3) #-----> 1 and True are same

#unordered ---> hashing determines the position and we can't control it

{1, (1, 2, 3), 4.5, 'hello'}

In [12]:
s1 = {1,2,3}
s2 = {3,2,1}

print(s1 == s2)

True

#Accessing items

In [13]:
s1 = {1,2,3}
print(s1[0])

TypeError: ignored

In [14]:
# no indexing or slicing

#Editing items

In [15]:
s1 = {1,2,3}
s1[0] = 100

TypeError: ignored

#Adding items

In [17]:
s = {1,2,3}
# add --> add to any position (not user accessed)
s.add(4)
print(s)
#

#update ---> use list inside update arguments
s.update([5,6])
print(s)

{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6}

# Deleting items

In [24]:
# del --> del whole s not particular items

#discard
s.discard(5)
print(s)
s.remove(3)
print(s)

{1, 2, 3, 6}
{1, 2, 6}

In [25]:
s.discard(90) #  doesnot shows error
print(s)

{1, 2, 6}

In [26]:
s.remove(5)  # shows error
print(s)

KeyError: ignored

In [27]:
# pop ----> randomly delete
s.pop()
print(s)

{2, 6}

In [28]:
# clear --> clear set
s.clear()
print(s)

set()

#Set Operations

In [33]:
s1 = {1,2,3,4,4,4,5}
s2 = {5,6}

In [34]:
# union
s1 | s2

{1, 2, 3, 4, 5, 6}

In [35]:
# intersetion
s1 & s2

{5}

In [37]:
# diiference
s1 - s2

set()

In [38]:
# symmetric difference
s1 ^ s2

{1, 2, 3, 4, 6}

In [ ]:
# Membership Test --> in    not in
# Loop Test ----> for `/

#Set Functions

In [39]:
#len/sum/min/max/sorted

In [40]:
s1 = {1,2,3,4}
s2 = {3,4,5,6}

In [43]:
# union/update
s1.union(s2)

s1.update(s2) # result stored in s1
print(s1)
print(s2)

{1, 2, 3, 4, 5, 6}
{3, 4, 5, 6}

In [44]:
#intersection/update_interesection

In [45]:
#difference/difference_update

In [46]:
# symmetric_differcne/symmetric_diffrence_update

In [47]:
#isdisjoint/issubset/issuperet

s1 = {1,2,3,4}
s2 = {3,4,5,6}

s1.isdisjoint(s2) #----> elements common

False

In [48]:
s1.issubset(s2) ###---> naam bta rha

False

In [49]:
s1.issuperset(s2 ) ###---> naam bta rha firse

False

In [52]:
# copy
s1 = {1,2,3}
s2 = s1.copy()

print(s1)
print(s2)

print(id(s1))
print(id(s2))

{1, 2, 3}
{1, 2, 3}
139721080272256
139721080272480

#Frozenset

Frozenset is just an immutable version of a python set object

In [54]:
# create frozenset
fs = frozenset([1,2,3])
fs

frozenset({1, 2, 3})

In [55]:
# what works and what does not
# works -> all read functions
# doesn't work -> write operations

In [56]:
# when to use
# 2D sets ---> possible

#Set comprehension

In [57]:
{i for i in range(0,11) if i%2 == 0}

{0, 2, 4, 6, 8, 10}

#Dictionary

Dictionary in python is a collectionof keys values, used to store data values like a map, which ,unlike other data types which hold only a single value as an element.

In some language it is known as map or associative arrays.

`
dict = {'name':'nitish','age':33,'gender':'male'}
`

Characteristics:
* Mutable
* Indexing has no meaning
* Keys can't be duplicated
* Keys can't be mutable items

#Create Dictionary

In [68]:
# empty dictionary
d = {}
print(d)
# 1D
dic = {'name':'nitish','age':33,'gender':'male'}
print(dic)
# mixed keys
d2 = {(1,2,3):1,'hello':'world'}
print(d2)
# 2D
s = {'name':'nitish',
     'collage':'tcs',
     'sem':6,
     'subject':{
         'das' : 60,
         "math" : 848,
         'ekh' : 378
         }
     }
print(s)

{}
{'name': 'nitish', 'age': 33, 'gender': 'male'}
{(1, 2, 3): 1, 'hello': 'world'}
{'name': 'nitish', 'collage': 'tcs', 'sem': 6, 'subject': {'das': 60, 'math': 848, 'ekh': 378}}

In [73]:
# can'not have duplicate keys
# last assigned gets the priority

In [74]:
#mutable items as keys are not allowed---> unhashable type

#Accessing items

In [75]:
# dict[1] ---> not allowed
# dict[i:j:k] ----> not allowed

In [76]:
dict = {'name': 'nitish', 'age': 33, 'gender': 'male'}
# []
dict['name']

'nitish'

In [77]:
# get
dict.get('age')

33

In [78]:
# []
dict['gender']

'male'

#Adding key-value pair

In [80]:
dict['sex'] = 'male'
dict

{'name': 'nitish', 'age': 33, 'gender': 'male', 'sex': 'male'}

#Remove key-value pair

In [83]:
dit = {'name': 'nitish', 'age': 33, 'gender': 'male'}
# pop
dit.pop('name')
print(dit)

#popitem --->last key-value pair
dit.popitem()
print(dit)

{'age': 33, 'gender': 'male'}
{'age': 33}

In [84]:
# del
#clear

#Editing key-value pairs

```
# This is formatted as code
```

In [86]:
dit['age' ] = 90
dit

{'age': 90}

#Dictionary Operations
* membership
* Iteration

In [90]:
dict = {'name': 'nitish', 'age': 33, 'gender': 'male'}
# evrything is search from keys

print('age' in dict)

True

In [91]:
for i in dict:
    print(i)

name
age
gender

In [92]:
for i in dict:
    print(dict[i])

nitish
33
male

#Dictionary Functions

In [93]:
# len/sorted(key RE SORTED)

In [96]:
#items/keys/values
print(dict.items()) #--->tuples
print(dict.keys())
print(dict.values())

dict_items([('name', 'nitish'), ('age', 33), ('gender', 'male')])
dict_keys(['name', 'age', 'gender'])
dict_values(['nitish', 33, 'male'])

In [98]:
#update
d1 = {1:2,3:4}
d2 = {1:3,5:6}

print(d1.update(d2))
print(d1)   #permanent change

None
{1: 3, 3: 4, 5: 6}

#Dictionary comprehension

`{key:value for vars in iterable}`

In [99]:
#print 1st 10 numbers and their square
{i:i**2 for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [100]:
#using existing dict
distance = {'delhi':1000,'mumbai':2000,'banglore':3000}
{key:value*0.62 for (key,value) in distance.items()}

{'delhi': 620.0, 'mumbai': 1240.0, 'banglore': 1860.0}

In [102]:
# using zip
days = ["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]
{i:j for (i,j) in zip(days,temp_C)}

{'Sunday': 30.5,
 'Monday': 32.6,
 'Tuesday': 31.8,
 'Wednesday': 33.4,
 'Thursday': 29.8,
 'Friday': 30.2,
 'Saturday': 29.9}

In [104]:
# using if condion
products = {'phone':0,'laptop':1,'charger':32,'tablet':2}
{key:value for (key,value) in products.items() if value>0}

{'laptop': 1, 'charger': 32, 'tablet': 2}

In [105]:
# nested comprehension
# print tables of number from 2 to 4

In [106]:
{i:{j:i*j for j in range(1,11)} for i in range(2,6)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40},
 5: {1: 5, 2: 10, 3: 15, 4: 20, 5: 25, 6: 30, 7: 35, 8: 40, 9: 45, 10: 50}}